slack:
  username: botname
  token: xoxb-example
  user_token: xoxp-used-for-creating-dm-channels
  avatar_pilfering_token: xoxp-from-workspace-to-mirror-avatars-from
  errors: '#errors-channel'
  file_mirror:
    host: https://yourfilehost/upload
    key: sixtyfourchars

irc:
  -  hostname: irc.hostname
     port: 6667
     nickname: yournick
     password: yourserverpsee
     ssl: true
     channels:
       '#irc-side-channel': '#slack-side-channel'
